body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    text-align: center;
}
footer h1{
    background-color: black;
    color: white;
    margin: 0 auto;
}
h2{
   text-align: center;   
}


